*{
    box-sizing: border-box;
    list-style: none;
}

body{
    overflow-x: hidden;
    background-color: black;
    margin:0;
    padding: 0;
}


.container{
    background-color: #fff;
    margin:0;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    transform-origin: top left;
    transition: transform 0.4s ease-in;
}

.container.show_nav{
    transform-origin: top left;
    transform: rotate(-20deg);
    transition: transform 0.4s ease-in;
}

.show_nav .btn{
    transform: rotate(-40deg);
    transition: transform 0.4s ease-in;
}

.btn{
    background-color: rgb(206, 92, 57);
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    top:-120px;
    left: -100px;
    transition: transform 0.4s ease-in;
}

.btn button{
    position:absolute;
    bottom: 20px;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
}
.btn button:active{
    border: 0;
}

.btn #close{
    left:50px;
}

.btn #open{
    right:50px;
}

.content_container{
    width: 70%;
    min-height: 100vh;
    margin: auto;
    
}

.content{
    height: 100%;
    width: 100%;
    padding: 50px;
}

.content h1{
    margin: 0;
}

.content small{
    font-style: italic;
}


.content img{
    width: 100%;
    object-fit: cover;
    
}
nav ul{
    color:#fff;
    position: fixed;
    left:-150px;
    top: calc(100vh - 200px);
    font-size: calc(0.5vw + 0.7rem);
    transition: left 0.6s ease-out;
}

nav ul li{
    margin-bottom: 20px;
    cursor: pointer;
}

nav ul li i{
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 10px;
}


.show_nav ul{
    color:#fff;
    position: fixed;
    left:0;
    top: calc(100vh - 200px);
    font-size: calc(0.5vw + 0.7rem);
}

.show_nav ul li{
    margin-bottom: 20px;
    transition: left 0.6s ease-in;
}

.show_nav ul li + li{
    margin-left: 20px;
    transition: margin-left 0.6s ease-in;
}

.show_nav ul li + li + li{
    margin-left: 40px;
    transition: margin-left 0.6s ease-in;
}

